/* this is a comment in css */
/* 1. what element are we affecting */
/* we are going to affect the h1 tag */
/* 2. what are we doing with it */
/* turn that h1 text color to green */
* {
    /* outline: 1px dotted red; */
}

h1 {
    color: rgb(11, 107, 64);
    text-align: center;
    font-size: 50px;
}

/* p {
    color: red;
    background-color: blue;
} */

body {
    background-color: lightblue;
}

/* ----CLASSES  */
.yellow {
    color: rgb(246, 255, 0);
}

.is-centered {
    text-align: center;
}

/* id should be unique */
#main-heading {
    color: red;
    font-size: 30px;
}

/* tag < class < id */
/*  1   <   10  < 100 */

.quote>p {
    color: rgb(53, 143, 143);
    font-style: italic;
}

h1 {
    color: cyan;
    background-color: grey;
    text-decoration: underline;
}

span {
    background-color: purple;
}

.box1{
    background-color: red;
    width: 100px;
    height: 150px;
    border: 5px solid #000000;
    border-radius: 20px;
    padding: 10px;
}

.move {
    margin-bottom: 50px;
}